<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/images/slika1.jpg" style="width:1140px;height:600px;">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/slika2.jpg" style="width:1140px;height:600px;">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/slika3.jpg" style="width:1140px;height:600px;">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/slika4.jpg" style="width:1140px;height:600px;">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Kućna kolekcija knjiga", "Index", "Book", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Knjige", "Index", "Book")</li>
                        <li>@Html.ActionLink("Autori", "Index", "Author")</li>
                        <li>@Html.ActionLink("Žanrovi", "Index", "Genre")</li>
                        <li>@Html.ActionLink("Jezici", "Index", "Language")</li>
                        <li>@Html.ActionLink("Nacionalnosti", "Index", "Nationality")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year Danijel Sič </p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>